<div class="container">
    <div class="row mb-4">
        {% for b in blog %}
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-img-main">
                    <img class="card-img-top d-block" src="{{ b.cover_image.url }}" alt="{{ b.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title" data-toggle="tooltip" title="{{ b.title }}">{{ b.title|slice:":30" }}{% if b.title|length >= 30 %} ...{% endif %}</h5>
                    <p class="card-text">
                        {{ b.trunc_body|safe }}
                    </p>
                    <a href="{% url 'blog_detail' b.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card-img-main {
        height: 200px;
        overflow: hidden;
    }
</style>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>